
<% if current_user.id == message.sender_id %>
<strong class="primary-font"><%= message.sender.name %></strong>
</small>
<p class="pull-left"><%= message.content %></p>
<% else %>
<div class="chat-body clearfix">
  <div class="header">
    <strong class="primary-font"><%= message.sender.name %></strong>
    <small class=" text-muted">
    </small>
  </div>
  <p class="pull-left"><%= message.content %></p>
</div>
</li>
<% end %>

