<div id="about-content">
  <div id='main-title'><h1><%= link_to "OKLunch", restaurants_path %></h1></div>
  <div id='about-box'><h2><%= link_to "About OKLunch", id="about-link"%></h2>
    <div id='hidden-about'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae pharetra leo, vitae faucibus purus. Fusce non quam sed quam iaculis congue eget ac turpis. Nullam dapibus dolor vel ante sodales rhoncus. Nulla nec aliquet mi. Aenean viverra quam nisl, at feugiat libero egestas vel. Mauris sodales diam vulputate orci posuere, viverra aliquet augue ornare. Integer vitae venenatis massa. Proin viverra porta tellus, a convallis tellus auctor at. Morbi dictum ipsum non nisi rhoncus, in rhoncus ligula lacinia. Sed porttitor posuere eros, sed tincidunt lorem malesuada a. Pellentesque mollis mattis enim non iaculis. Integer vel accumsan est.</div>
  </div>
  <div id='register-or-login'><%= link_to "Register", register_path%> or <%= link_to "Login", login_path%> to OKLunch</div>
</div>
