<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("stock1.JPG", :class => 'first-slide', :alt =>'First slide') %>
      <div class="container">
        <div class="carousel-caption">
          <h1>OKLunch</h1>
          <p>  Hello and welcome to OKLunch.  Have you ever wanted to go eat somewhere but didn't want to go alone?  Whether it's because you didn't want to look like you have no friends, or because you just wanted to have lunch with a stranger, fret no longer, OKLunch is here to provide the solution.  There are 4 simples steps. </p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("stock2.JPG", :class => 'second-slide', :alt =>'Second slide') %>
      <div class="container">
        <div class="carousel-caption">
          <h1>4 easy steps</h1>
          <p>    1) Login via Facebook Sign in
            2) Swipe right on Restaurants you're interested in
            3) Swipe right on the User of your choice
            4) Get your food on</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag("stock3.JPG", :class => 'third-slide', :alt =>'Third slide') %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Meet New Friends</h1>
            <p>Eat with a stranger, make a friend for life.  If not for life, for an afternoon.</p>
            <p><a class="btn btn-lg btn-primary" href="https://drive.google.com/folderview?id=0B12kNVS9bokuVmNVNGdBd1U2SmM&usp=sharing_eid&ts=56cce65e" role="button">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- /.carousel -->