<h1> Congratulations, you matched with <%= @restaurant.name%>!</h1>
<p> Would you like to:</p>
<%= link_to "Search for users now!", match_restaurant_path(@match_restaurant.id)%>
<p>OR</p>
<%= link_to "Keep swiping!", restaurants_path%>
