* {
  box-sizing: border-box;
}
body, html{
    height:95%;
    margin:20px;
    padding:0;
    font-size:120%;
    font-family: 'Flamenco', 'Asap';
    background-image: url("whitebricks.jpg");
}

#main {
  position: relative;
  padding: 20px;
  font-family: 'Flamenco', 'Asap';
  margin:20px;
  min-height:100%;
}

html:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 135%;
  opacity : 0.4;
  z-index: -1;
}

form.userform {
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: auto;
  margin-top: 5em;
  position: relative;
  width: 550px;
  height: 650px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #170323;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input.userinput {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea.userinput {
  width: 375px;
  height: 150px;
  display: block;
}

input.usersubmit {
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #09C;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
}

input.usersubmit:hover {
  background: #fff;
  color: #09C;
}

textarea:focus, input:focus {
  border: 1px solid #09C;
}

.glyphicon {
  margin: 0px 5px 0px 5px;
  font-family: "Times New Roman", Times, serif;
}

.p15 {
  padding-top:15px;
}

.p25 {
  padding-top:25px;
}
