body{
  background-image: url("2ppl.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  height:100%;
  margin:0;
  padding:100px;
  font-family:Trebuchet MS,Arial;
  font-size:80%;
}
