div#matchable-users{
text-align: center;
margin: auto;

}

div.matchable-user-tile{
display: inline-block;
background-color: #5052FF;
margin: .5em;
margin-bottom: .5em;
padding: .5em;
border-radius: 5%;
}

div.matchable-user-tile a {
text-align: center;
}

div.yes-no-buttons form {
display: inline-block;
}

div.yes-no-buttons form input {
background-color: #43A8FF;
}

img.user-tile-profile-picture {
border-radius: 5%;

}