div#matchable-users{
text-align: center;
margin: auto;
/*max-height: 60vh;
overflow-y: scroll;*/
}

div.card{
width:250px;
min-height:100%;
margin: 20px;
display: inline-block;
height: 300px;
}

div.front {
  padding: 10px;
  background-color: #87E0b7;
}

div.back {
  padding: 10px;
  background-color: #87E0b7;
}

div.card a {
text-align: center;
}

div.yes-no-buttons form {
display: inline-block;
}

div.yes-no-buttons form input {
background-color: #43A8FF;
}

img.user-tile-profile-picture {
border-radius: 5%;

}