html, body{
  height: 95%;
}

div#wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: block;
  background: yellow;
}

p#restaurant-name {
  font-weight: bolder;
}

div.quadrant {
  width: 50%;
  height: 50vh;
  float: left;
  color: black;
}

div#no {
  background: #114963;
}

div#yes {
  background: #5b555d;
}

div#always {
  background: #87e0b7;
}

div#never {
  background: #0a1926;
}

ul#restaurant-tile-details {
  position:absolute;
  list-style:none;
  padding: 0;
  text-align: center;
}

li#restaurant-tile-details-name {
  font-weight: bolder;
  font-size: 1.2em;
}

div.inactive-restaurant-tile {
  display:inline-block;
  margin: .5em;
  padding: .5em;
  height:100px;
  width:100px;
  position:relative;
  background-color: white;
}

div#active-restaurant-tile {
  position:relative;
  margin: auto;
  height: 150px;
  width: 150px;
  top: 33%;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}
