html, body{
  height: 95%;
}

div#wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: block;
  background: yellow;
}

div.quadrant {
  width: 50%;
  height: 50vh;
  float: left;
}

div#no {
  background: #ffe6e6;
}

div#yes {
  background: #e6ffe6;
}

div#always {
  background: #b3ffb3;
}

div#never {
  background: #ff9999;
}

ul#restaurant-tile-details {
  position:absolute;
}

div.inactive-restaurant-tile {
  display:inline-block;
  margin: .5em;
  padding: .5em;
  height:100px;
  width:100px;
  position:relative;
  background-color: purple;
}

div#active-restaurant-tile {
  position:relative;
  margin: auto;
  height: 300px;
  width: 300px;
  top: 33%;
  left: 0;
  right: 0;
  bottom: 0;
  background: grey;
}
