<p><span class="success-match">Congratulations, you matched with <%= user.name%>!</span></p>
<p><%= link_to "Chat with this user now!", conversation_path(@conversation)%></p>
</p><%= link_to "View this user's profile!", user_path(@match_user.target_id)%></p>
