<h1> Congratulations! You've matched with <%= @match_user.other_user(current_user).name%>!</h1>



<%= link_to "Chat with this user now!", conversation_path(@conversation)%>
<%= link_to "View this user's profile!", user_path(@match_user.other_user(current_user))%>

